*
{
    margin: 0px;
    padding: 0px;
    display: block;
}

.login,.signup
{
      
    background-color: dodgerblue;
    border: 4px solid black;
    padding: 20px;
    padding: 40px;
    margin: 40px
}
input
{
    margin-bottom: 20px;
    font-size: 30px;
    border-radius: 5px;
}
 input[type="text"]
{
    display: block;
}
p
{
    text-align: center;
    font-size: 50px;
    color: chartreuse;
}
label
{
    font-family: fantasy;
    font-size: 30px
}
footer
{
    text-align: center;
    color: black;
    background-color: aqua;
    padding: 20px;
    font-size: 30px;
    font-family: fantasy 
}
.main
{
    height: 80px;
    background-color: aqua;
    text-align: center;
    font-size: 60px;
    color: black;
   
}
title
{
    height: 0px;
    visibility: hidden
}
input[type="radio"]
{
    font-size: 70px;
    display: inline
}
input[type="submit"]
{ 
background-color: aqua
}
body
{
    background-color:currentColor
}